@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0c0f1d] text-white;
  }

  
  /* width */
  ::-webkit-scrollbar {
    @apply w-1 lg:w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-[#888]/0 rounded-xl;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-[#5c5f6b] rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#76777f];
  }
}

@layer components {
  .option-top {
    @apply block rounded-t-lg bg-black/50 py-2 px-4 transition-all hover:bg-black/70;
  }

  .option-middle {
    @apply block bg-black/50 py-2 px-4 transition-all hover:bg-black/70;
  }

  .option-bottom {
    @apply block rounded-b-lg bg-black/50 py-2 px-4 transition-all hover:bg-black/70;
  }

  .controls {
    @apply right-0 left-0 p-[10px] absolute bottom-0 z-50 bg-gradient-to-t from-black/75 to-black/0 text-lg md:text-xl lg:text-2xl transition-all
  }
}

#nprogress .bar {
  @apply h-1 bg-blue-400;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range].volume {
  height: 5px;
  background-color: #fff;
}

input[type=range].volume::-webkit-slider-runnable-track {
  background-color: transparent;
}

input[type=range].volume::-webkit-slider-thumb {
  margin-left: 0;
  height: 14px;
  width: 14px;
  background: #fff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  margin-top: 5px;
}

input[type=range]:focus::-moz-range-track {
  outline: none;
}

input[type=range].volume::-moz-range-thumb {
  border: 1px solid #fff;
  background: #fff;
}


.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.velocity option {
  color: black;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.libassjs-canvas-parent {
  position: static !important;
}
